.icon {
    font-size: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.ant-btn-primary {
    background-color: #a154a1;
    &:hover {
        background-color: #a154a1 !important;
    }
    &:active {
        background-color: #a154a1 !important;
    }
}
.header-table {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    h3 {
        margin: 0;
    }
}
.successToast {
    width: 200px;
    position: fixed;
    bottom: 42px;
    right: 42px;
}

.fetchPostModal {
    text-align: left;
    padding-bottom: 48px;
    border-top: 2px solid #ddd;
    .range-picker {
        margin-bottom: 16px;
    }
}